.auth-page{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.auth-page .col {
  margin: 0 auto; 
}
.auth-page .card input{
  color: #e0e0e0;
}
.auth-page .card .card-action button{
  margin: 10px;
}
.auth-page .card .blue:hover{
  background-color: #42a5f5 !important;
}
.create-page input {
  margin-top: 2rem!important;
}